<style>
    nav {
        background-color: #007bff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;
    }


    nav ul {
        list-style: none;
        display: flex;
    }

    nav ul li {
        margin-right: 30px;
    }

    nav ul li a {
        text-decoration: none;
        color: #ebebeb;
        padding: 15px;
        transition: color 0.5s;
    }

    nav ul li a:hover {
        color: #ff9900;
    }

    .cart-link {
        margin-left: auto;
    }
</style>
<nav>
    <ul>
        <li><a href="/"><b>Home</b></a></li>
        <li><a href="/store"><b>Store</b></a></li>
        <li><a href="/sell"><b>Sell Items</b></a></li>
    </ul>
    {% if g.current_user %}
    <ul><li>Logged in as: {{ g.current_user }}</li></ul>
    {% endif %}
    <ul>
        <li><a href="/orders" class="cart-link"><b>Orders</b></a></li>
        <li><a href="/view_cart" class="cart-link"><b>Cart ({{g.items_in_cart}})</b></a></li>
        <li>
            {% if g.current_user %}
                <a href="/logout" class="cart-link"><b>Logout</b></a>
            {% else %}
                <a href="/login" class="cart-link"><b>Login</b></a>
            {% endif %}
        </li>
    </ul>
</nav>